// variable
$spacer: 1rem;
$font-size-base: 1rem;

$color-font-base: #000000;
$color-font-white: #ffffff;

$color-border-base: #000000;
$color-border-white: #ffffff;


$color-bgc-primary: #000000;
$color-bgc-dot: #891818;

$font-family-base: "Roboto", sans-serif;